@import '/assets/css/base.scss';
.wrap {
  overflow: initial; // sticky 속성의 부모 요소엔 overflow:hidden 금지
}
.title_section {
  position: relative;
  height: 500px;
  background-color: #111;
  h2 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 80px;
    line-height: 1;
    text-align: center;
  }
}

.content_section {
  position: relative;
  height: 5000px;
  .wrap_content {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .inner_content {
      position: relative;
      height: 100%;
      .txt_intro {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 60;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transition: opacity 0.5s;
        &.active {
          opacity: 0;
        }
        h2 {
          font-size: 80px;
          line-height: 1;
          color: #fff;
        }
      }
      .left_mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 50;
        width: 50%;
        height: 100%;
        background: #000;
      }
      .right_mask {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 50;
        width: 50%;
        height: 100%;
        background: #000;
      }
      .bg_img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/chapter6/steve_jobs.jpg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .txt_ending {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 30;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s;
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 1);
          content: '';
        }
        &.active {
          opacity: 1;
        }
        .cell_table {
          text-align: center;
          p {
            font-size: 80px;
            color: #000;
            line-height: 1;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .section_title h2 {
    font-size: 32px;
  }

  .content_section {
    height: 3000px;
    .wrap_content .inner_content {
      .bg_img {
        background-image: url('/assets/images/chapter6/steve_jobs_m.jpg');
      }
      .txt_intro h2,
      .txt_ending .cell_table p {
        font-size: 50px;
      }
    }
  }
}
