@import '/assets/css/base.scss';
/* 오늘 날짜 카운트 */
.section_today {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: #000;
  text-align: center;
  .wrap_today {
    height: 100%;
    .txt_date {
      position: absolute;
      left: 20px;
      top: 400px;
      z-index: 100;
      font-size: 300px;
      color: #fff;
      opacity: 0.1;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px #fff;
      transition: transform 1s;
    }
    .date_count {
      overflow: hidden;
      position: relative;
      display: inline-block;
      height: 200px;
      opacity: 0;
      transition: opacity 0.5s 1s;
      &::after {
        clear: both;
        display: block;
        content: '';
      }
      .list_count {
        float: left;
        animation: count_date 2.8s 1 ease-out both paused;
        &.active {
          animation-play-state: running;
        }
        span {
          display: block;
          height: 200px;
          color: #fff;
          font-size: 200px;
          line-height: 1;
          text-align: center;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 6px #fff;
        }
      }
    }
  }
  &.active {
    .wrap_today {
      .txt_date {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
      }
      .date_count {
        opacity: 1;
      }
    }
  }
}

@keyframes count_date {
	0%{ opacity: 0;
		transform: translateY(-4800px); /* span의 높이  x 롤링될 개수로 구한값 (24) */
	}
	100% {
    opacity: 1;
		transform: translateY(0);
	}
}