@import '/assets/css/base.scss';

/* 텍스트 마스크 효과 */
.section_first {
  position: relative;
  height: 100vh;
  background: #111;
  &.active {
    .list_nav a .txt,
    .list_nav a .mask,
    .bg_rotate {
      animation-play-state: running;
    }
  }
  .list_nav {
    position: relative;
    z-index: 20;
    a {
      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: 140px;
      line-height: 1;
      color: #fff;
      transition: transform 0.5s;
      &:hover {
        text-decoration: none;
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        .mask2 {
          width: 100%;
        }
      }
      &:focus {
        text-decoration: none;
      }
      .txt {
        position: relative;
        z-index: 20;
        display: block;
        /*
          animation-name: txt_opacity;
          animation-duration: 2s;
          animation-delay: 1s;
          animation-iteration-count: 1;
          animation-timing-function: cubic-bezier(0.24, 0.77, 0.32, 0.95);
          animation-fill-mode: both;
          animation-play-state: paused;
        */
        animation: txt_opacity 2s 1s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both
          paused;
      }
      .mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        height: 100%;
        background: #fff;
        /*
          animation-name: txt_mask;
          animation-duration: 2s;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-timing-function: cubic-bezier(0.24, 0.77, 0.32, 0.95);
          animation-fill-mode: both;
          animation-play-state: paused;
        */
        animation: txt_mask 2s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both
          paused;
      }
      .mask2 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 0%;
        height: 40%;
        background: #e9c400;
        transition: width 0.5s cubic-bezier(0.24, 0.77, 0.32, 0.95);
      }
    }
  }
  .bg_rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 1200px;
    height: 1215px;
    margin-left: -357px;
    margin-top: -350px;
    background-image: url(/assets/images/chapter5/bg_rotate01.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    animation: rotate_bg 40s infinite linear paused;
  }
}

@keyframes txt_mask {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 100%;
    transform: translateX(101%);
  }
}

@keyframes txt_opacity {
  0% {
    opacity: 0;
    color: #3535ff;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    color: #fff;
    transform: translateX(0%);
  }
}

@keyframes rotate_bg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
